*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 500px;
    height: 500px;
}

#game{
    border: solid 1px gray;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
}

#finish{
    width: 500px;
    height: 500px;
    background: red;
}